<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Passenger Dashboard</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/login.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $(".dropdown-menu li a").click(function () {
                $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
                $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
            });
        });
    </script>
</head>

<body style="background-color: white; background-size:100%; background-position-y: -400px;">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background:#2e2e2e;">
        <a class="navbar-brand" href="/">Carpool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                    <li class = "nav-item">
                            <form method = "post" action="/passenger/songs">
                                <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Songs</button>
                            </form>
                        </li>
                    <li class="nav-item">
                            <form method = "post" action="/driver/danalytics">
                                <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Analytics</button>
                            </form>
                        </li>
                <li class="nav-item">
                        <form method = "post" action="/driver/inbox">
                            <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Inbox</button>
                        </form>
                    </li>
                    <li class="nav-item"></li>
                    <form method = "post" action="/driver/logout">
                    <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Log Out</button>
                </form>
                    <!-- <a class="nav-link" href="login">Log In</a> -->
                </li>
            </ul>
        </div>
    </nav>
    <div
        style="background-image: url('/images/boatImage.jpg'); background-position-y: -200px; background-size: cover; background-attachment: fixed;">
        <div class="jumbotron jumbotron-fluid" style="background:rgba(0, 0, 0, .6);">
            <div class="container" style="color:white;">
                <h1 style="font-size: 64px;">CARPOOL@2019</h1>
                <p class="lead">Share a Ride or Ride to Share</p>
            </div>
        </div>
    </div>

    <div class="container" style="background:white">
        <h2 className="my-5"> Welcome </h2>
        <div style="height:20px;"></div>
        <div class="row">
            <div class="col">

                <form method="post" action="/driver/add_vehicle">
                <div class="form-group">
                        <label for="exampleInputEmail1">Add a new vehicle:</label>
                        <input type="text" class="form-control" id="newVehicleNum" name="newVehicleNum" aria-describedby="emailHelp" placeholder="Enter vehicle number">
                      </div>


                    <h6>Number of it can support: </h6>
                    <select class="selectpicker" data-style="btn-info" name="paxPicker">
                            
                                <option name="" value="6">6</option>
                                <option name="table1" value="5">5</option>
                                <option name="table2" value="4">4</option>
                                <option name="" value="3">3</option>
                                <option name="table1" value="2">2</option>
                                <option name="table2" value="1">1</option>
                            
                        </select>
                        <br/>
                        <br/>
                      <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Add Vehicle</button>
                    </form>

            </div>
            <div class="col">

                <form method="post" action="/driver/advertise">
                <form id="advertisetrip" method="post" action="/driver/basic">
                <form id="acceptBid" method="post" action="/driver/advertise">
                    <div class="dropdown">
                        <label for="vehicle">
                            <h4>Choose your vehicle: </h4>
                        </label>
                        <!-- <button class="btn btn-primary dropdown-toggle" id="vehicle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                            Vehicle
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#" data-value="action">BMW</a></li>
                            <li><a href="#" data-value="another action">Proton</a></li>
                            <li><a href="#" data-value="something else here">Neutron</a></li>
                            <li><a href="#" data-value="separated link">Electron</a></li>
                        </ul> -->
    
    
                        <select class="selectpicker" data-style="btn-info" name="selectpicker">
                                <optgroup label="Select Vehicle">
                                <% for (var i = 0; i < vehicles.length; i++) { %>
                                            <option name="" value='<%= vehicles[i].license_plate%>'><%= vehicles[i].license_plate%></option>
                                <% } %>
                            </optgroup>
                            </select>
                    </div>

                    <br/>
                    <br/>
                    
                    <h4>Advertise a trip!</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" name = "Origin" id="inputGroup-sizing-default">Origin</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" name = "origin"
                            aria-describedby="inputGroup-sizing-default"/>
                    </div>
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" name =  "Destination" id="inputGroup-sizing-default">Destination</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" name = "destination"
                            aria-describedby="inputGroup-sizing-default"/>
                    </div>

                    <div class='input-group date' id='datetimepicker1'>
                        <!-- <input type='datetime-local' name = "Date" class="form-control"> -->
                        <input type='datetime-local' class="form-control" name = "datetime" />
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Advertise</button>
                </form>
            </div>
        </div>

        <br/>
        <h3>Current Bids: </h3>
        <br />
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Bid Index</th>
                    <th scope="col">Bidder Name</th>
                    <th scope="col">Start Location</th>
                    <th scope="col">End Location</th>
                    <th scope="col">Vehicle</th>
                    <th scope="col">Current Pax</th>
                    <th scope="col">Bid</th>
                </tr>
            </thead>
            <tbody>
                <form method = "post" action = "/driver/bid_true">
                    <div>
                    <input type="text" class="form-control" placeholder="Bid Index" style ="width:9%"
                                    aria-label="Recipient's username" aria-describedby="button-addon2" name = "bid_true">
                                    <button class="btn btn-primary" type="submit" id="submit-button" value = "submit">Accept</button>
                </div></form>
                <tr>
                    <% for (var i = 0; i < bid.length;  i++) { %>
                        <tr>
                            <th scope="row"><%= i+1 %></td>
                            <td><%= bid[i].name %></td>
                            <td><%= bid[i].start_loc %></td>
                            <td><%= bid[i].end_loc %></td>
                            <td><%= bid[i].vehicle %></td>
                            <td><%= bid[i].current_pax %></td>
                            <td>$<%= bid[i].amount %></td>
                        </tr>    
                    <% } %>
                </tr>                
            </tbody>
        </table>
    </div>
</body>

</html>