<!DOCTYPE html>
<html>
  <head>
    <!-- Page Title -->
    <title>Inbox</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="/stylesheets/login.css" />

    <!-- CSS for Styling -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- JavaScript for Interactivity -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </head>

  <body
    style="background-color: white; background-size:100%; background-position-y: -400px;"
  >
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background:#2e2e2e;"
    >
      <a class="navbar-brand" href="/">Carpool</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          <form method="post" action="/inbox/dashboard">
            <!--redirect user to passenger or driver dashboard based on how they logged in using session-->
            <button
              type="submit"
              class="btn btn-primary mr-1"
              id="loginbtn"
              value="submit"
            >
              Dashboard
            </button>
          </form>

          <form method="post" action="/inbox/logout">
            <button
              type="submit"
              class="btn btn-primary mr-1"
              id="loginbtn"
              value="submit"
            >
              Log Out
            </button>
          </form>
        </ul>
      </div>
    </nav>
    <div
      style="background-image: url('/images/boatImage.jpg'); background-position-y: -200px; background-size: cover; background-attachment: fixed;"
    >
      <div
        class="jumbotron jumbotron-fluid"
        style="background:rgba(0, 0, 0, .6);"
      >
        <div class="container" style="color:white;">
          <h1 style="font-size: 64px;">CARPOOL@2019</h1>
          <p class="lead">Share a Ride or Ride to Share</p>
          <h4><%= user_name %> (<%= user_type%>)</h4>
        </div>
      </div>
    </div>

    <div class="container" style="background:white">
      <h2 className="my-5">Welcome to Inbox</h2>
      <div style="height:20px;"></div>
      <br />
      <div class="row">
        <div class="col">
          <form method="post" action="/passenger/message">
            <!--redirect user to passenger or driver dashboard based on how they logged in using session-->
            <button
              type="submit"
              class="btn btn-primary"
              id="loginbtn"
              value="submit"
            >
              Send New Message
            </button>
          </form>
        </div>

        <div class="col">
          <form method="post" action="/inbox/delete_msg" id="delete_form">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                id="id_to_del"
                placeholder="Enter msg id to delete"
                name="delete_id"
                required
              />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                  Delete
                </button>
              </div>
            </div>
          </form>
        </div>

        <script>
          var num_msg = "<%= message.length %>";
          console.log("number of messages: " + num_msg);
          const del_form = document.getElementById("delete_form");
          const del_index = document.getElementById("id_to_del");

          del_form.addEventListener("submit", e => {
            if (
              parseInt(del_index.value) === NaN ||
              parseInt(del_index.value) < 1 ||
              parseInt(del_index.value) > num_msg
            ) {
              e.preventDefault();
              alert(
                "Invalid index of message to delete. Ensure message index is in range."
              );
            }
          });
        </script>
      </div>

      <br />
      <h3>Your Messages:</h3>
      <br />
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Msg ID</th>
            <th scope="col">Msg Date</th>
            <th scope="col">Msg Time</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Msg</th>
          </tr>
          <% for (var i = 0; i < message.length; i++) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= String(message[i].msg_date).substring(0,16) %></td>
            <td><%= message[i].msg_time %></td>
            <td><%= message[i].sender %></td>
            <td><%= message[i].receiver %></td>
            <td><%= message[i].msg %></td>
          </tr>
          <% } %>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
    <br />
    <br />
    <br />
  </body>
</html>
