<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Passenger Dashboard</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/login.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $(".dropdown-menu li a").click(function () {
                $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
                $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
            });
        });
    </script>
</head>

<body style="background-color: white; background-size:100%; background-position-y: -400px;">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background:#2e2e2e;">
        <a class="navbar-brand" href="/">Carpool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                    <li class = "nav-item">
                            <form method = "post" action="/passenger/locations">
                                <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Locations</button>
                            </form>
                        </li>
                    <li class = "nav-item">
                            <form method = "post" action="/passenger/feedback">
                                <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Feedback</button>
                            </form>
                        </li>
                    <li class = "nav-item">
                            <form method = "post" action="/passenger/songs">
                                <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Songs</button>
                            </form>
                        </li>
                    <li class = "nav-item">
                            <form method = "post" action="/passenger/discount">
                                <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Rewards</button>
                            </form>
                        </li>
                    <li class = "nav-item">
                            <form method = "post" action="/passenger/panalytics">
                                <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Analytics</button>
                            </form>
                        </li>
                <li class = "nav-item">
                    <form method = "post" action="/passenger/inbox">
                        <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Inbox</button>
                    </form>
                </li>
                <li class = "nav-item">
                    <form method = "post" action="/passenger/logout">
                        <button type="submit" class="btn btn-primary" id="loginbtn" value = "submit">Log Out</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div
        style="background-image: url('/images/boatImage.jpg'); background-position-y: -200px; background-size: cover; background-attachment: fixed;">
        <div class="jumbotron jumbotron-fluid" style="background:rgba(0, 0, 0, .6);">
            <div class="container" style="color:white;">
                <h1 style="font-size: 64px;">CARPOOL@2019</h1>
                <p class="lead">Share a Ride or Ride to Share</p>
            </div>
        </div>
    </div>

    <div class="container" style="background:white">
        <h2 className="my-5"> Welcome </h2>
        <div style="height:20px;"></div>
        <div class = "row">
            <div class = "col">
                <h5>Search for a Ride!</h5>
        <form method="post" action="/passenger/search_advertisements" id="search_ride_form">

                <label>Enter your start location:
                        <input list="s_locations" name="start_location" id="s_locat"/></label>
                        <datalist id="s_locations">
                            <% for (var i = 0; i < locations.length;  i++) { %>
                                <option value="<%= locations[i].loc_name %>">
                            <% } %>
                        </datalist>
                        <br/>
                        
                <label>Enter your End location:
                        <input list="e_locations" name="end_location" id="e_locat" /></label>
                        <datalist id="e_locations">
                                <% for (var i = 0; i < locations.length;  i++) { %>
                                    <option value="<%= locations[i].loc_name %>">
                                <% } %>
                        </datalist>

            <!-- <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Start Location" aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">Favourite It</button>
                </div>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Destination" aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">Favourite It</button>
                </div>
            </div> -->
            <br/>

            <button type="submit" class="btn btn-primary" id="loginbtn">Search</button>
        
        </form>

        <script>
            const search_ride_form = document.getElementById('search_ride_form');
            const start_loc = document.getElementById('s_locat');
            const end_loc = document.getElementById('e_locat');

            search_ride_form.addEventListener('submit', (e) => {
                if(start_loc.value === ''|| end_loc.value === ''){
                    e.preventDefault();
                    console.log(start_loc.value);
                    console.log(end_loc.value);
                    console.log("meow");
                    alert("Please enter origin and destination!");
                } else if (start_loc.value === end_loc.value){
                    e.preventDefault();
                    alert("Origin and destination cannot be the same");
                }
            })

        </script>
    </div>

    <div class = "col">
        <h5>Bid for a Ride!</h5>
        
        <form method="post" action="/passenger/bid2" id="bid_ride_form">
                <div class="form-group">
                  <label for="exampleInputEmail1">Bid Number</label>
                  <input type="text" class="form-control" id="bid_num" name = "bid_num" placeholder="Bid Number">
                
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Bid Value</label>
                  <input type="text" class="form-control" id="bid_val" name="bid_val" placeholder="Bid Amount">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
    </div>


    <script>
        const form = document.getElementById("bid_ride_form");
        const bid_number = document.getElementById("bid_num");
        const bid_value = document.getElementById("bid_val");
        var num_advertisements = "<%= advertisements.length %>";
        console.log(num_advertisements);

        form.addEventListener('submit', (e) => {
            if(bid_number.value === '' || bid_value.value === ''){
                e.preventDefault();
                alert("You must enter both the bid number as well as bid value")
            } 
            else if(!Number.isInteger(parseInt(bid_number.value)) || parseFloat(bid_value.value) === NaN){
                e.preventDefault();
                alert("Invalid input");
            } else if(parseInt(bid_number.value) < 1 || parseInt(bid_number.value) > num_advertisements || parseFloat(bid_value.value) < 0){
                e.preventDefault();
                alert("Bid Number must be integer and at least one. Cannot be more than " + num_advertisements+" Also, Bid value cannot be less than 0");
            }
        })

    </script>

    <!-- <div class = "col">
            <form method = "post" action="/passenger/fav_song">
                <input type="text" class="form-control" placeholder="Enter song name" name="fav_song" >
                <br/>
                <input type="text" class="form-control" placeholder="Enter song playtime" name="fav_song_playtime" >
                <br/>
                <input type="text" class="form-control" placeholder="Enter artist" name="fav_song_artist" >
                <br/>
                <button class="btn btn-primary" type="submit">Add Song to favourite</button>
            </form>
    </div> -->
    </div>
            
        <br/>
    
        <h3>Your Current bids</h3>
        <br/>
        <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Driver Name</th>
                        <th scope="col">Average Rating</th>
                        <th scope="col">Common Songs</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        <br/>
    
        <!-- <form method="post" action="/passenger/start_trip">
                <button type="submit" class="btn btn-primary" id="loginbtn">Start Trip</button>
        </form> -->

        <br/>
        <h3>Recommended Drivers</h3>
        <br/>
        <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Driver Name</th>
                        <th scope="col">Average Rating</th>
                        <th scope="col">Common Songs</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Do u want it to be a form? If not, just remove the corresponding form tags-->
                        <form method = "post" action = "/passenger/recc_drivers">
                    <tr>
                        <!--Abhishek, change the ejs here to show recommended drivers details-->
                    <% for (var i = 0; i < recommended.length;  i++) { %>
                        <tr>
                            <th scope="row"><%= recommended[i].name %></td>
                            <td><%= recommended[i].rating %></td>
                            <td><%= recommended[i].common_songs %></td>
                        </tr>    
                        <% } %>
                    </tr>
                    </form>
                </tbody>
            </table>







        <br />
        <h3>Available Advertisements</h3>
        <br/>

        <!-- <form method = "post" action = "/passenger/bid">
        <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your bid"
                    aria-label="Recipient's username" aria-describedby="button-addon2" name = "bid">
                    <input type="text" class="form-control" placeholder="Your bid"
                    aria-label="Recipient's username" aria-describedby="button-addon2" name = "bid">
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="submit-button">Bid!</button>
                </div>
            </form> -->

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Driver Name</th>
                    <th scope="col">Start Location</th>
                    <th scope="col">End Location</th>
                    <th scope="col">Est. Arrival Date</th>
                    <th scope="col">Est. Arrival Time</th>
                    <th scope="col">Current Pax</th>
                    <!-- <th scope="col">Your Bid ($)</th> -->
                </tr>
            </thead>
            <tbody>
                    
                <tr>
                <% for (var i = 0; i < advertisements.length;  i++) { %>
                    <tr>
                        <th scope="row"><%= advertisements[i].name %></td>
                        <td><%= advertisements[i].start_loc %></td>
                        <td><%= advertisements[i].end_loc %></td>
                        <td><%= advertisements[i].a_date %></td>
                        <td><%= advertisements[i].a_time %></td>
                        <td><%= advertisements[i].current_pax %></td>
                        <!-- <td><div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Your bid"
                                    aria-label="Recipient's username" aria-describedby="button-addon2" name = "bid">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" id="submit-button">Bid!</button>
                                </div>
                        </td> -->
                    </tr>    
                    <% } %>
                </tr>
            </tbody>
        </table>
        
    </div>
    <br />
    <br />
    <br />
</body>

</html>